.magic-tower {
    width: 2rem;
    height: 2rem;
    background: blueviolet;
    border-radius: 70%;
}

.magic-turret {
    position: absolute;
    width: 54px;
    height: 20px;
    background-color: green;
}

